#root {
  margin: 0;
}

.header__container {
  width: 100%;
  padding: 1.5em 0;

}

.maincontent__container {
  background-color: #222eb9;
  width: 100%;
  padding: 100px 0;
  display: flex;
}

.maincontent__sloganSection {
  width: 50%;
  display: flex;
  padding: 50px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.maincontent__sloganSection-title {
  font-size: 38px;
  text-align: center;
}
